<div *ngIf="node" [style.padding-left]="getPadding()">
  <span class="nodeSpan">
    <span class="UISpan">
      <span (click)="extend()"
            [class]="model.isNodeLeaf(node) ? 'glyphicon glyphicon-minus' :
            node.extended ? 'glyphicon glyphicon-menu-down' : 'glyphicon glyphicon-menu-right'">
      </span>
      <input type="checkbox"
             (click)="onNodeSelected()"
             [(ngModel)]="node.selected"/>
      <input type="checkbox"
             [(ngModel)]="node.childSelected">
    </span>
    <span (click)="changePicWithMouse()">
      <img src={{classString}} width="18" height="18">
    </span>
      <a *ngIf="!changing"
         href="#"
         [innerHTML]="node.name"
         onclick="return false"
         class="nodeText" #nodeText>
      </a>
      <input type="text"
             [hidden]="!changing"
             class="nodeTextInput"
             [value]="node.name"
             (keydown)="onKeyDown($event)"
             (blur)="saveNodeChange()" #nodeTextInput/>
    <div class="btn-group">
      <span class="glyphicon glyphicon-triangle-bottom dropdown-toogle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
      </span>&nbsp;&nbsp;&nbsp;&nbsp;
      <ul class="dropdown-menu">
        <li>
          <a (click)="deleteNodeCaller()">Eintrag löschen</a>
        </li>
        <li (click)="editNode()">
          <a>Eintrag ändern</a>
        </li>
        <li (click)="addNode()">
          <a>Eintrag hinzufügen</a>
        </li>
        <li>
          <a>Symbol ändern</a>
        </li>
      </ul>
    </div>
  </span>
</div>

<template [ngIf]="node.extended">
  <co-tree-node *ngFor="let res of model.resources | nodefilter : 'parentNr' : node.nr"
                [node]="res"
                [level]="level + 1"
                [model]="model"
                (nodeSelected)="_caTreeComponent._onNodeSelected($event)">
  </co-tree-node>
</template>
